:root {
  --skin-color: #8892b0;
  --background-color: #0a192f;
  --font-color1: #64ffda;
  --font-color2: #ccd6f6;
  --font-color3: #8892b0;
  --font-color4: #cb8d97;
  --font-color5: #a8b2d1;
  --heading-dash: #64ffda;
  --font-color6: #64ffda;
  --tint: rgba(100, 255, 218, 0.1);
  --textbox-color: #0a192f;
  --scroll-color: #0a192f93;
  --navbar-back-color: #172a45;
}
