:root {
  --skin-color: #f9bb8d;
  --background-color: #c7dac7;
  --font-color1: #df3737;
  --font-color2: #df3737;
  --font-color3: #143f7d;
  --font-color4: #8e4a17;
  --tint: rgba(87, 162, 233, 0.1);
  --font-color6: #e86a18;
}
