:root {
  --skin-color: #b24100;
  --background-color: #ff8142;
  --font-color1: #471800;
  --font-color2: #8e3000;
  --font-color3: #ffffff;
  --font-color4: #471a00;
  --tint: rgba(87, 162, 233, 0.1);
}
