/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"); */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

/*defining the custom theme css variables*/
:root {
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px -3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px -3px #f8f8f8;
  --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
  --background-color: #0a192f;
  --font-color1: #64ffda;
  --font-color2: #ccd6f6;
  --font-color3: #8892b0;
  --font-color4: #cb8d97;
  --font-color5: #a8b2d1;
  --font-color7: #ccd6f6;
  --tint: rgba(100, 255, 218, 0.1);
  --skin-color: #ccd6f6;
  --heading-dash: #64ffda;
  --font-color6: #64ffda;
  --textbox-color: #0a192f;
  --scroll-color: #0a192f93;
  --navbar-back-color: #172a45;
}

body {
  margin: 0;
  font-family: "Calibre", "San Francisco", "SF Pro Text", sans-serif;
  background-color: var(--background-color);
  counter-reset: my-awesome-counter 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

*:not(i) {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.container {
  max-width: 1140px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
header {
  position: absolute;
  left: 0px;
  right: 0px;
  /* border-bottom: 1px solid #dbcea9; */
  padding: 0px 15px;
  z-index: 10;
}

header.fixed {
  background-color: var(--scroll-color);
  position: fixed;
  animation: fixHeader 1s ease;
  z-index: 11;
}

@keyframes fixHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
header .row {
  justify-content: space-between;
  align-items: center;
}

header .title-name a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: var(--font-color1);
  text-transform: uppercase;
  position: relative;
  border: solid;
  padding: 8px;
}

header.fixed .title-name a {
  color: var(--font-color1);
}
header .navbar ul {
  padding: 0;
  margin: 0;
  color: white;
}

header .navbar ul li {
  display: inline-block;
  margin-left: 35px;
}

header .navbar ul li a {
  font-size: 15px;
  text-decoration: none;
  line-height: 72px;
  color: var(--font-color1);
  display: block;
  font-weight: 600;
  position: relative;
}

header .navbar ul li a::before {
  content: "";
  height: 3px;
  background-color: var(--font-color1);
  width: 0%;
  position: absolute;
  right: 0px;
  bottom: -1px;
}

header .navbar ul li a:hover::before {
  width: 100%;
  left: 0;
}

header .navbar ul li a.active::before {
  width: 100%;
  left: 0;
}
.logo img {
  float: left;
  width: 40px;
  height: 40px;
  background: #555;
}

.home {
  flex: 0 0 100%;
  min-height: 100vh;
  padding: 15px;
  transition: all 0.5s ease;
}

.home {
  position: relative;
}
/*----------EFFECT CSS------------------------------*/
.effect-wrap .effect {
  position: absolute;
  z-index: -1;
}

.effect-1 {
  width: 70px;
  height: 70px;
  border: 8px solid var(--font-color1);
  right: 20%;
  bottom: 20%;
  animation: spin 10s linear infinite;
}
.effect-2 {
  left: 3%;
  bottom: 20%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  animation: topBounce 3s ease-in-out infinite;
}
.effect-2 div {
  height: 3px;
  width: 3px;
  background-color: var(--font-color2);
  margin: 0 3px 10px;
}

.effect-3 {
  height: 360px; /*180px*/
  width: 360px;
  border: 25px solid var(--skin-color);
  border-radius: 50%;
  left: 50%;
  top: -120px;
  animation: leftBounce 3s ease-in-out infinite;
}

.effect-4 {
  border-top: 30px solid transparent;
  border-left: 30px solid var(--font-color1);
  left: 30%;
  top: 20%;
  animation: spin 15s linear infinite;
}

.effect-4:before {
  content: "";
  border-top: 30px solid transparent;
  border-left: 30px solid var(--font-color1);
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}

.effect-5 div {
  width: 4px;
  background-color: var(--font-color4);
}

.effect-5 {
  height: 50px;
  width: 50px;
  right: 10%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 10s linear infinite;
}

.effect-6 {
  width: 200px;
  height: 100px;
  padding-top: 100px;
  margin: 0 auto;
}

.ball {
  width: 10px;
  height: 10px;
  margin: 10px auto;
  border-radius: 50px;
}

.ball:nth-child(1) {
  background: var(--font-color4);
  -webkit-animation: right 1s infinite ease-in-out;
  -moz-animation: right 1s infinite ease-in-out;
  animation: right 1s infinite ease-in-out;
}

.ball:nth-child(2) {
  background: var(--font-color4);
  -webkit-animation: left 1.1s infinite ease-in-out;
  -moz-animation: left 1.1s infinite ease-in-out;
  animation: left 1.1s infinite ease-in-out;
}

.ball:nth-child(3) {
  background: var(--font-color4);
  -webkit-animation: right 1.05s infinite ease-in-out;
  -moz-animation: right 1.05s infinite ease-in-out;
  animation: right 1.05s infinite ease-in-out;
}

.ball:nth-child(4) {
  background: var(--font-color4);
  -webkit-animation: left 1.15s infinite ease-in-out;
  -moz-animation: left 1.15s infinite ease-in-out;
  animation: left 1.15s infinite ease-in-out;
}

.ball:nth-child(5) {
  background: var(--font-color4);
  -webkit-animation: right 1.1s infinite ease-in-out;
  -moz-animation: right 1.1s infinite ease-in-out;
  animation: right 1.1s infinite ease-in-out;
}

.ball:nth-child(6) {
  background: var(--font-color4);
  -webkit-animation: left 1.05s infinite ease-in-out;
  -moz-animation: left 1.05s infinite ease-in-out;
  animation: left 1.05s infinite ease-in-out;
}

.ball:nth-child(7) {
  background: var(--font-color4);
  -webkit-animation: right 1s infinite ease-in-out;
  -moz-animation: right 1s infinite ease-in-out;
  animation: right 1s infinite ease-in-out;
}

@-webkit-keyframes right {
  0% {
    -webkit-transform: translate(-15px);
  }
  50% {
    -webkit-transform: translate(15px);
  }
  100% {
    -webkit-transform: translate(-15px);
  }
}

@-webkit-keyframes left {
  0% {
    -webkit-transform: translate(15px);
  }
  50% {
    -webkit-transform: translate(-15px);
  }
  100% {
    -webkit-transform: translate(15px);
  }
}

@-moz-keyframes right {
  0% {
    -moz-transform: translate(-15px);
  }
  50% {
    -moz-transform: translate(15px);
  }
  100% {
    -moz-transform: translate(-15px);
  }
}

@-moz-keyframes left {
  0% {
    -moz-transform: translate(15px);
  }
  50% {
    -moz-transform: translate(-15px);
  }
  100% {
    -moz-transform: translate(15px);
  }
}

@keyframes right {
  0% {
    transform: translate(-15px);
  }
  50% {
    transform: translate(15px);
  }
  100% {
    transform: translate(-15px);
  }
}

@keyframes left {
  0% {
    transform: translate(15px);
  }
  50% {
    transform: translate(-15px);
  }
  100% {
    transform: translate(15px);
  }
}

/*----------------------------------------*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes topBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}

@keyframes leftBounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}
.home .full-screen {
  min-height: 100vh;
}

.home .home-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.home .home-content .block {
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 35px;
  border-left: 5px solid var(--font-color1);
  margin-top: 0;
}

.home .home-content .block h6 {
  letter-spacing: 5px;
  color: var(--font-color1);
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.home .home-content .block .myName {
  position: relative;
  font-size: 85px;
  font-weight: bold;
}
.home .home-content .block .myName .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  overflow: hidden;
}

.home .home-content .block .myName .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.home .home-content .block h1 {
  color: var(--font-color2);
  font-size: 85px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}
.home .home-content .block h3 {
  color: var(--font-color4);
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.home .home-content .block h4 {
  color: var(--font-color3);
  font-size: 75px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.home .home-content .block .resume-btn {
  padding-top: 20px;
}

.home .home-content .block .resume-btn a {
  border-radius: 4px;
  color: var(--font-color1);
  border: 1px solid var(--font-color1);
  padding: 12px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease;
  background-color: transparent;
}

.home .home-content .block .resume-btn a:hover {
  background-color: var(--tint);
  color: var(--font-color1);
}

/*About Me */
.about-me {
  flex: 0 0 100%;
  padding: 100px 15px;
  background-color: var(--font-background-color);
}

.about-me .section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 35px;
}

.about-me .section-title h1 {
  display: inline-block;
  font-size: 35px;
  font-weight: 700;
  color: var(--font-color1);
  margin: 0 0 10px;
  position: relative;
  padding-bottom: 5px;
}

.about-me .section-title h1:before {
  content: " ";
  left: 0;
  position: absolute;
  height: 2px;
  right: 0%;
  background-color: var(--heading-dash);
  bottom: 0px;
}

.text-uppercase {
  text-transform: uppercase !important;
}
.about-me .section-title p.small {
  display: block;
  font-size: 20px;
  color: var(--font-color2);
  font-weight: 400;
  letter-spacing: 2px;
}

.about-content .text-about-me h4 {
  padding: 0;
}

.about-me .about-content .img-wrap {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.about-me .about-content .img-wrap img {
  width: 100%;
  display: block;
}
.about-me .about-content .text-about-me {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding-left: 40px;
}

.about-me .about-content .text-about-me h4 {
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 5px;
  color: var(--font-color3);
}
.about-me .about-content .text-about-me h4 span {
  color: var(--font-color6);
  font-weight: 600;
}

.about-me .about-content .text-about-me p1 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 15px;
  color: var(--font-color2);
  line-height: 25px;
}
.about-me .about-content .text-about-me p1 span {
  color: var(--font-color6);
}

.about-me .about-content .text-about-me p3 span {
  color: var(--font-color6);
}

.about-me .about-content .text-about-me p2,
p3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 15px;
  color: var(--font-color2);
  line-height: 25px;
}

.about-me ul {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}

.about-me ul.skills-list li:before {
  content: "";
  border-color: transparent var(--font-color1);
  border-style: solid;
  display: block;
  border-width: 0.35em 0 0.35em 0.45em;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.about-me ul.skills-list {
  color: var(--font-color2);
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  padding: 0px;
  margin: 10px 10px 10px;
  overflow: hidden;
  list-style: none;
  position: relative;
  padding-left: 30px;
}

.about-me .about-content .text-about-me .social-links {
  padding: 30px;
  text-align: center;
}
.about-me .about-content .text-about-me .social-links li {
  background-color: yellow;
  padding: 0;
  margin: 7px;
  list-style: none;
  display: inline-block;
  border-radius: 2em;
  overflow: hidden;
}
.about-me .about-content .text-about-me .social-links li a {
  display: block;
  padding: 0.5em;
  min-width: 2.28571429em;
  max-width: 2.28571429em;
  height: 2.28571429em;
  white-space: nowrap;
  line-height: 1.5em;
  transition: 0.5s;
  text-decoration: none;
  font-family: arial;
  color: #ffffff;
  text-align: center;
}
.about-me .about-content .text-about-me .social-links li i {
  margin-right: 0.5em;
}

.about-me .about-content .text-about-me .social-links li:hover a {
  max-width: 200px;
  padding-right: 1em;
}

.about-me .about-content .text-about-me .social-links li.linkedin {
  background-color: #0077b7;
  box-shadow: 0 0 16px #0077b7;
}

.about-me .about-content .text-about-me .social-links li.github {
  background-color: #000;
  box-shadow: 0 0 16px #000;
}

.about-me .about-content .text-about-me .social-links li.pinterest {
  background-color: #e60023;
  box-shadow: 0 0 16px #e60023;
}

.about-me .about-content .text-about-me .social-links li.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0 0 16px #e1306c;
}

.about-me .about-content .text-about-me .social-links li.twitter {
  background-color: #08a0e9;
  box-shadow: 0 0 16px #08a0e9;
}

.skills {
  padding: 100px 15px;
  background-color: #242424;
}

.skills .skills-content {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 30px;
}

.skills .img {
  flex: 0 0 50%;
  max-width: 50%;
}

.skills .img img {
  width: 400px;
  height: 400px;
  display: block;
}

.skills-content h1 {
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 10px;
  position: relative;
  padding-bottom: 5px;
}

.skills-content h1:before {
  content: " ";
  left: 0;
  position: absolute;
  height: 2px;
  right: 0%;
  background-color: #9781f0;
  bottom: 0px;
}

.skills .skills-content .section-title p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin: 15px 0 0px;
}

.align-items-center {
  align-items: center;
}

.skills .skills-content .skill-box {
  width: 500px;
  margin: 10px;
  padding: 20px;
}
ul {
  padding-left: 0;
  margin-top: 0;
}

li.html {
  color: white;
  position: relative;
  list-style: none;
  margin-top: -10px;
  font-weight: 700;
  text-transform: uppercase;
}

li.css {
  color: white;
  position: relative;
  list-style: none;
  margin: 40px 0;
  font-weight: 700;
  text-transform: uppercase;
}

li.js {
  color: white;
  position: relative;
  list-style: none;
  margin: 40px 0;
  font-weight: 700;
  text-transform: uppercase;
}

li.react {
  color: white;
  position: relative;
  list-style: none;
  margin: 40px 0;
  font-weight: 700;
  text-transform: uppercase;
}

li.nodejs {
  color: white;
  position: relative;
  list-style: none;
  margin: 40px 0;
  font-weight: 700;
  text-transform: uppercase;
}

li.angular {
  color: white;
  position: relative;
  list-style: none;
  margin: 40px 0;
  font-weight: 700;
  text-transform: uppercase;
}

.skill-box li:before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #f0f0f5;
  border-radius: 1000px;
}

.skill-box li:after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 15px;
  background-color: rgba(62, 45, 129, 0.5);
  border-radius: 1000px;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

li.html:after {
  animation-name: html;
}

@keyframes html {
  to {
    width: 90%;
  }
}

li.css:after {
  animation-name: css;
}

@keyframes css {
  to {
    width: 97%;
  }
}

li.js:after {
  animation-name: js;
}

@keyframes js {
  to {
    width: 88%;
  }
}

li.react:after {
  animation-name: react;
}

@keyframes react {
  to {
    width: 75%;
  }
}

li.nodejs:after {
  animation-name: nodejs;
}

@keyframes nodejs {
  to {
    width: 65%;
  }
}

li.angular:after {
  animation-name: angular;
}

@keyframes angular {
  to {
    width: 65%;
  }
}

.experience {
  padding: 100px 15px;
  background-color: var(--background-color);
  margin: 0;
}

.experience .section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 35px;
}

.experience .section-title h1 {
  display: inline-block;
  font-size: 35px;
  font-weight: 700;
  color: var(--font-color1);
  margin: 0 0 10px;
  position: relative;
  padding-bottom: 5px;
}

.experience .section-title h1:before {
  content: " ";
  left: 0;
  position: absolute;
  height: 2px;
  right: 0%;
  background-color: var(--font-color1);
  bottom: 0px;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.experience .timeline {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 35px;
}
.timeline ul.banner {
  border-left: 4px solid var(--font-color1);
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.05);
  position: relative;
  padding: 8rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-right: 4rem;
  padding-left: 4rem;
  list-style: none;
  text-align: left;
  left: 15rem;
  width: 70%;
}

.timeline h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--font-color7);
  line-height: 1.1;
}

.timeline h1 span {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--font-color1);
  line-height: 1.1;
}

.timeline .date {
  border-bottom: 1px solid var(--font-color3);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
  color: var(--font-color2);
}
.timeline .panel-1 ul.description-style {
  list-style: none;
}
.timeline .panel-1 ul.description-style li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
  font-size: 15px;
  color: var(--font-color3);
}

.timeline .panel-2 ul.description-style1 {
  list-style: none;
}
.timeline .panel-2 ul.description-style1 li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
  font-size: 15px;
  color: var(--font-color3);
}

.timeline ul.description-style li:before {
  content: "";
  border-color: transparent var(--font-color1);
  border-style: solid;
  display: block;
  border-width: 0.35em 0 0.35em 0.45em;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.timeline ul.description-style1 li:before {
  content: "";
  border-color: transparent var(--font-color1);
  border-style: solid;
  display: block;
  border-width: 0.35em 0 0.35em 0.45em;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}
.timeline .date:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .date::before,
.timeline .date::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeline .date::before {
  content: attr(data-date);
  left: -18rem;
  text-align: right;
  min-width: 12rem;
  font-size: 18px;
}

.timeline .date::after {
  content: "";
  box-shadow: 0 0 0 4px #cb8d97;
  border-radius: 100%;
  left: -5rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #313534;
}
.Contact {
  padding: 100px 15px;
  background: var(--background-color);
}

.Contact .section-title h2 {
  display: inline-block;
  font-size: 35px;
  font-weight: 700;
  color: var(--font-color1);
  margin: 0 0 10px;
  position: relative;
  padding-bottom: 5px;
}

.Contact .section-title h2:before {
  content: " ";
  left: 0;
  position: absolute;
  height: 2px;
  right: 0%;
  background-color: var(--font-color1);
  bottom: 0px;
}

.container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container .contact-form p {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 15px;
  color: var(--font-color2);
  line-height: 25px;
  text-transform: uppercase;
}
.container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.container .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: var(--font-color1);
}

.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
  position: absolute;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: var(--textbox-color);
}

.container .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  color: var(--font-color3);
  pointer-events: none;
}

.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

.container .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--font-color1);
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.container .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}

.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: var(--font-color1);
  color: #000;
  font-size: 18px;
  border-radius: 2px;
}
