:root {
  --skin-color: #f9bb8d;
  --background-color: #f4d5c0;
  --font-color1: #e86a18;
  --font-color2: #e86a18;
  --font-color3: #b46832;
  --font-color4: #8e4a17;
  --tint: rgba(87, 162, 233, 0.1);
  --font-color6: #e86a18;
}
