:root {
  --skin-color: #e3655b;
  --background-color: #c9daf9;
  --font-color1: #256ae5;
  --font-color2: #5c8fec;
  --font-color3: #5276d9;
  --font-color4: #e3655b;
  --font-color5: #e3655b;
  --font-color6: #e3655b;
  --heading-dash: #256ae5;
  --tint: rgba(87, 162, 233, 0.1);
  --textbox-color: #c9daf9;
  --scroll-color: #c9daf97e;
}
