@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    margin:0;  
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin:0;
}

.container{
    max-width: 1140px;
    margin: auto;

}

.row{
    display: flex;
    flex-wrap: wrap;
}
header{
    position : absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #dbcea9; /*might need to change */
    padding: 0px 15px;
    z-index: 10;

}
header .row{
    justify-content: space-between;
    align-items: center;
}
header .title-name a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color:#ffffff;
    text-transform: uppercase;
    position: relative;
    
}

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;


}
header .navbar ul li{
    display: inline-block;
    margin-left: 35px;

}

header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    position: relative;

}



header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width:0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
}



header .navbar ul li a:hover::before{
    width: 100%;
    left:0;
}

header .navbar ul li a.active::before{
    width: 100%;
    left:0;
}


.home{
   min-height: 100vh;
   background-image: url("images/1.jpg");
   background-size: cover ;
   background-position: center;
   padding: 15px;
   transition: all .5s ease;
}

.home .full-screen{
    min-height: 100vh;

}

.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;

}

.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid #ffffff;
    margin-top: 50px;

}

.home .home-content .block h6{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin:0;
    padding:0;
    
}
.home .home-content .block h1{
    color:#ffffff;
    font-size: 75px;
    font-weight: 600;
    margin:0;
    padding: 0;
    

}
.home .home-content .block h3{
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    margin:0;
    padding:0;
   
}

.home .home-content .block .resume-btn{
    padding-top: 20px;
}

.home .home-content .block .resume-btn a{
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding:12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}

.home .home-content .block .resume-btn a:hover{
    background-color: #ffffff;
    color: #000000;
}


/*About Me */
.about-me{
    padding: 100px 15px;
    background-color: #ffffff;
}

.about-me .section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom:35px;

}

.about-me .section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color:#000000;
    margin: 0 0 10px;
    position: relative;
    padding-bottom: 5px;

}

.about-me .section-title h1:before{
    content: " ";
    left:0;
    position: absolute;
    height: 2px;
    right:0%;
    background-color: #9781f0;
    bottom: 0px;
}

.text-uppercase{
    text-transform: uppercase!important;
}
.about-me .section-title p.small{
    display: block;
    font-size: 20px;
    color:#838383;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-content .text-about-me h4{
    padding:0;
}


.about-me .about-content .img-wrap{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.about-me .about-content .img-wrap img{
    object-fit: cover;
    width:400px;
    height: 400px;
    border-radius: 50% ;
    display:block; 

}

.about-me .about-content .text-about-me{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 40px;
}

.about-me .about-content .text-about-me h4{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #000000;
}
.about-me .about-content .text-about-me h4 span{
    color: #9781f0;
}

.about-me .about-content .text-about-me p1{
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 15px;
    color: #878787;
    line-height:25px;
    
    
}
.about-me .about-content .text-about-me p1 span{
    color: #9781f0;
}

.about-me .about-content .text-about-me .social-links {
    padding-top:25px;
}
.about-me .about-content .text-about-me .social-links a{
    height: 28px;
    width: 30px;
    background-color: #000000;
    border-radius: 3px;
    display:inline-block;
    border: 1px solid #000000;
    line-height: 28px;
    text-align: center;
    margin:0 5px;
    -webkit-transition: all .5s ease ;
    transition: all .5s ease ;

}

.about-me .about-content .text-about-me .social-links a:hover{
    background-color: transparent;
}

.about-me .about-content .text-about-me .social-links a .fa{
    color: #ffffff;
    font-size: 20px;
    -webkit-transition: all .5s ease ;
    transition: all .5s ease ;

}

.about-me .about-content .text-about-me .social-links a:hover .fa{
    color: #000000;
    
}